:host {
    display: block;
    background-color: #0a2363;    
}  

.footer-cont {
    color: #ffffff ;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.footer-cont p {
    margin: 0;
}

.footer-cont a {
    color: #ffffff ;
    font-size: 16px;
}

