/* markets.component.css */
*{
  font-size: 16px;
}

table {
    margin-bottom: 1%;
    margin-top: 1%;
    width:100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
    border-radius: 10px; 
    overflow: hidden;
}

table a {
  color: var(--color-text);
}
  
table th {
  background-color: var(--color-bg-gray);
  font-weight: 500;
}

th, td {
  border: 1.5px solid #ccc;
  padding: 10px;
  padding-right: 12px;
  padding-left: 12px;
  height: 30px;

}

tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.searchbar input{
  min-width: 400px;
  min-height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 18px;
}

.market-data {
  padding-top: 3rem;
}

.market-data li {
  font-size: 18px;
  margin-top: 0.75rem;
}
  

  