*{    
    display: block;
}

.header-cont {
    color: #ffffff ;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header-navs {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-navs a {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-family);
    text-decoration: none;
    color: #ffffff;
    margin-left: 5rem;
}

.header-cont img {
    cursor: pointer;
}

.header-buttons{
    display: flex;    
    justify-content: flex-end;
}

button {
    font-family: 'Roboto';
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0.75rem;
    min-width: 100px;
    cursor: pointer;
}