*{    
    display: block;
    background-color: #0a2363;
}

.header-cont {
    color: #ffffff ;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header-cont img {
    cursor: pointer;
}

.header-buttons{
    display: flex;    
    justify-content: flex-end;
}