.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-form {
  height: fit-content;
  width: 210px; 

} 

button {
  font-family: 'Roboto';
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 1rem;
  min-width: 212px;
  cursor: pointer;
}